node-red/flows/Home-Wide/flows.json
[{"id":"e078bd756c358d69","type":"tab","label":"Home-Wide","disabled":false,"info":"","env":[]},{"id":"f3749832f798fac8","type":"group","z":"e078bd756c358d69","name":"Set numbers","style":{"label":true},"nodes":["a3c551a745b4d823","c0157ef103de4eb5","2d393639779fb2cc"],"x":634,"y":999,"w":192,"h":162},{"id":"212e1da279a679d3","type":"group","z":"e078bd756c358d69","name":"Get count","style":{"label":true},"nodes":["271b7d7a5786178b","56e9ea46b1bb7f0f","c6d9c1d6e98633c3"],"x":314,"y":999,"w":312,"h":162},{"id":"7aa8b65227787da9","type":"group","z":"e078bd756c358d69","name":"Number entities","style":{"label":true},"nodes":["c72078387df98f9b","a3722a5bb0b101ca","b5fd57784a94e016"],"x":14,"y":1139,"w":272,"h":162},{"id":"82a361443e943f67","type":"junction","z":"e078bd756c358d69","x":300,"y":1080,"wires":[["271b7d7a5786178b","c6d9c1d6e98633c3","56e9ea46b1bb7f0f"]]},{"id":"c7c9fb9f99df9740","type":"server-state-changed","z":"e078bd756c358d69","name":"In Transit","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.seventeentrack_packages_in_transit","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"1","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":80,"wires":[["5ac206d87a59664e"],[]]},{"id":"5ac206d87a59664e","type":"function","z":"e078bd756c358d69","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A Package is out for delivery\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":80,"wires":[["bb98dbbeb4f5c073"]]},{"id":"bb98dbbeb4f5c073","type":"api-call-service","z":"e078bd756c358d69","name":"Notify S23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":80,"wires":[[]]},{"id":"908a6f9154ed88c8","type":"server-state-changed","z":"e078bd756c358d69","name":"Delivered","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.seventeentrack_packages_delivered","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"1","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":140,"wires":[["10fa5f68a7e1a80f"],[]]},{"id":"10fa5f68a7e1a80f","type":"function","z":"e078bd756c358d69","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A Package has been delivered\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":140,"wires":[["fb6afc3192ff1803"]]},{"id":"fb6afc3192ff1803","type":"api-call-service","z":"e078bd756c358d69","name":"Notify S23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":140,"wires":[[]]},{"id":"dbc154f47337d7f0","type":"server-state-changed","z":"e078bd756c358d69","name":"Pick Up","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.seventeentrack_packages_ready_to_be_picked_up","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"1","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":200,"wires":[["6e737964eaa455b6"],[]]},{"id":"6e737964eaa455b6","type":"function","z":"e078bd756c358d69","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A Package is ready to be picked up\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["19a3bf982a93ae42"]]},{"id":"5230706c7950c8d6","type":"server-state-changed","z":"e078bd756c358d69","name":"Returned","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.seventeentrack_packages_returned","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"1","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":260,"wires":[["9acaa632012b7d86"],[]]},{"id":"9acaa632012b7d86","type":"function","z":"e078bd756c358d69","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A Package has been returned\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":260,"wires":[["81b928b723b15ea4"]]},{"id":"405eb35c8f7ee1a5","type":"server-state-changed","z":"e078bd756c358d69","name":"Not Found","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.seventeentrack_packages_not_found","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"1","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":320,"wires":[["96ee81f79a9bb2e2"],[]]},{"id":"96ee81f79a9bb2e2","type":"function","z":"e078bd756c358d69","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"A package is not found\",\n            \"title\": \"Package Alert\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":320,"wires":[["c338539d018838c8"]]},{"id":"a179db214b8746b0","type":"comment","z":"e078bd756c358d69","name":"Package stuff","info":"","x":110,"y":40,"wires":[]},{"id":"19a3bf982a93ae42","type":"api-call-service","z":"e078bd756c358d69","name":"Notify S23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":200,"wires":[[]]},{"id":"81b928b723b15ea4","type":"api-call-service","z":"e078bd756c358d69","name":"Notify S23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":260,"wires":[[]]},{"id":"c338539d018838c8","type":"api-call-service","z":"e078bd756c358d69","name":"Notify S23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":320,"wires":[[]]},{"id":"6fe851ddc5577bfa","type":"server-state-changed","z":"e078bd756c358d69","name":"Iain arrives home  ","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"person.iain","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"home","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":760,"wires":[["70c5d006fea1f916"],[]]},{"id":"d8e04b13ac9c78fa","type":"server-state-changed","z":"e078bd756c358d69","name":"Cam arrives home","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"person.cam","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"home","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":800,"wires":[["70c5d006fea1f916"],[]]},{"id":"68f48bcfab5a10e2","type":"server-state-changed","z":"e078bd756c358d69","name":"Rachel arrives home","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"person.rachel","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"home","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":840,"wires":[["70c5d006fea1f916"],[]]},{"id":"164cb1b58e68fa02","type":"server-state-changed","z":"e078bd756c358d69","name":"Emily arrives home","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"person.emily","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"home","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":880,"wires":[["70c5d006fea1f916"],[]]},{"id":"70c5d006fea1f916","type":"time-range-switch","z":"e078bd756c358d69","name":"","lat":"52.19582","lon":"-0.90115","startTime":"7:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":310,"y":820,"wires":[["1b4e9b9463dea50e"],[]]},{"id":"1b4e9b9463dea50e","type":"function","z":"e078bd756c358d69","name":"Set tts data","func":"var text = msg.topic.slice(7,)\nmsg.topic = text\nvar msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": msg.topic + \" has arrived home\" \n        }\n    } \n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":820,"wires":[["963e1f5f31eae19e"]]},{"id":"cbc294bfe338fe88","type":"comment","z":"e078bd756c358d69","name":"When people arrive home from 7:00AM to 10:00PM then announce on every speaker","info":"","x":310,"y":720,"wires":[]},{"id":"963e1f5f31eae19e","type":"delay","z":"e078bd756c358d69","name":"1msg/7s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"7","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":true,"outputs":1,"x":620,"y":820,"wires":[["cd9b433c968de6d8"]]},{"id":"54735247f634719e","type":"inject","z":"e078bd756c358d69","name":"Every 5 mins","props":[],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1080,"wires":[["82a361443e943f67"]]},{"id":"56e9ea46b1bb7f0f","type":"ha-get-entities","z":"e078bd756c358d69","g":"212e1da279a679d3","name":"Currently playing speakers","server":"1b0f71ea.e0ea9e","version":1,"rules":[{"property":"entity_id","logic":"in_group","value":"media_player.all_speakers","valueType":"str"},{"property":"state","logic":"is","value":"playing","valueType":"str"}],"outputType":"count","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload.data.value","outputResultsCount":1,"x":460,"y":1040,"wires":[["a3c551a745b4d823"]]},{"id":"c6d9c1d6e98633c3","type":"ha-get-entities","z":"e078bd756c358d69","g":"212e1da279a679d3","name":"Currently home Known Guests","server":"1b0f71ea.e0ea9e","version":1,"rules":[{"property":"entity_id","logic":"in_group","value":"group.known_guests","valueType":"str"},{"property":"state","logic":"is","value":"home","valueType":"str"}],"outputType":"count","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload.data.value","outputResultsCount":1,"x":470,"y":1080,"wires":[["c0157ef103de4eb5"]]},{"id":"271b7d7a5786178b","type":"ha-get-entities","z":"e078bd756c358d69","g":"212e1da279a679d3","name":"Currently home occupants ","server":"1b0f71ea.e0ea9e","version":1,"rules":[{"property":"entity_id","logic":"in_group","value":"group.occupants","valueType":"str"},{"property":"state","logic":"is","value":"home","valueType":"str"}],"outputType":"count","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload.data.value","outputResultsCount":1,"x":450,"y":1120,"wires":[["2d393639779fb2cc"]]},{"id":"c72078387df98f9b","type":"ha-number","z":"e078bd756c358d69","g":"7aa8b65227787da9","name":"Currently playing speakers","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"d36198540dc62137","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":150,"y":1180,"wires":[[]]},{"id":"a3722a5bb0b101ca","type":"ha-number","z":"e078bd756c358d69","g":"7aa8b65227787da9","name":"Known guests home","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"1dbbfe2964da6318","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":130,"y":1220,"wires":[[]]},{"id":"b5fd57784a94e016","type":"ha-number","z":"e078bd756c358d69","g":"7aa8b65227787da9","name":"Currently home occupants","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"328728ebdf546257","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":150,"y":1260,"wires":[[]]},{"id":"a3c551a745b4d823","type":"api-call-service","z":"e078bd756c358d69","g":"f3749832f798fac8","name":"Set number","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.currently_playing_speakers"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1040,"wires":[[]]},{"id":"c0157ef103de4eb5","type":"api-call-service","z":"e078bd756c358d69","g":"f3749832f798fac8","name":"Set number","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.known_guests_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1080,"wires":[[]]},{"id":"2d393639779fb2cc","type":"api-call-service","z":"e078bd756c358d69","g":"f3749832f798fac8","name":"Set number","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.home_occupants"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":1120,"wires":[[]]},{"id":"d08cc95e941cb814","type":"comment","z":"e078bd756c358d69","name":"Set number entity to have stats on dashboard","info":"","x":190,"y":980,"wires":[]},{"id":"2933d0b890bbd3ec","type":"api-call-service","z":"e078bd756c358d69","name":"Cam's alexa","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\": \"media_player.cameron_s_alexa\", \"cache\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":760,"wires":[[]]},{"id":"40cfa12a0da2665f","type":"api-call-service","z":"e078bd756c358d69","name":"Table Speaker","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\": \"media_player.table_speaker\", \"cache\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":720,"wires":[[]]},{"id":"634c1dfaf03cf716","type":"api-call-service","z":"e078bd756c358d69","name":"Family room","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\": \"media_player.family_room\", \"cache\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":680,"wires":[[]]},{"id":"066e99c7848efefa","type":"api-call-service","z":"e078bd756c358d69","name":"Cams Speaker","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\": \"media_player.cams_speaker\", \"cache\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":640,"wires":[[]]},{"id":"cd9b433c968de6d8","type":"ha-get-entities","z":"e078bd756c358d69","name":"","server":"1b0f71ea.e0ea9e","version":1,"rules":[{"property":"entity_id","logic":"in_group","value":"media_player.announcement","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":770,"y":820,"wires":[["1d9e0f46a57a62bd"]]},{"id":"1d9e0f46a57a62bd","type":"split","z":"e078bd756c358d69","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":910,"y":820,"wires":[["a4d4a22a62fdda5a"]]},{"id":"a4d4a22a62fdda5a","type":"change","z":"e078bd756c358d69","name":"Set data","rules":[{"t":"set","p":"payload.data.media_player_entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":820,"wires":[["03e04234044b06e2"]]},{"id":"03e04234044b06e2","type":"api-call-service","z":"e078bd756c358d69","name":"TTS on announcement speakers","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"cache\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1250,"y":820,"wires":[[]]},{"id":"1b0f71ea.e0ea9e","type":"server","name":"Home Assistant","addon":true},{"id":"d36198540dc62137","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"playing speakers","version":"6","entityType":"number","haConfig":[{"property":"name","value":"Currently playing speakers"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"min_value","value":""},{"property":"max_value","value":""},{"property":"step_value","value":""},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"1dbbfe2964da6318","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"known guests home","version":"6","entityType":"number","haConfig":[{"property":"name","value":"Known guests home"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"min_value","value":""},{"property":"max_value","value":""},{"property":"step_value","value":""},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false},{"id":"328728ebdf546257","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"home occupants","version":"6","entityType":"number","haConfig":[{"property":"name","value":"Home occupants"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"min_value","value":""},{"property":"max_value","value":""},{"property":"step_value","value":""},{"property":"mode","value":"auto"}],"resend":false,"debugEnabled":false}]