node-red/flows/Bedroom/flows.json
[{"id":"0c124e3942812487","type":"tab","label":"Bedroom","disabled":false,"info":"","env":[]},{"id":"3f5e70ab59c18d31","type":"group","z":"0c124e3942812487","name":"Conditions","style":{"label":true},"nodes":["66cb14fe0c2b854f","75200a256e5283b1","c3c1c28b5cb18250","ef51ab590fa1d542","fa671d6d1acf882d"],"x":134,"y":1659,"w":632,"h":142},{"id":"7bca04cba9dce64d","type":"group","z":"0c124e3942812487","name":"MP3 selecter","style":{"label":true},"nodes":["704babf26fc1673d","5d5fa21b61f4db63","14424a1863c52f23","5edf895a713b3335"],"x":954,"y":779,"w":832,"h":82},{"id":"ab3748c3a6e271dd","type":"group","z":"0c124e3942812487","name":"Alarm triggers","style":{"label":true},"nodes":["e63f57c48fc3cb6d","56c2daa00d2a83aa","a7335f43f794a0f8","cc05a7a79919b8d2"],"x":34,"y":2319,"w":432,"h":122},{"id":"4745687a1c275a20","type":"group","z":"0c124e3942812487","name":"Alarm switches","style":{"label":true},"nodes":["b4b3b12b06fd19c6","00f7db16ae36a118"],"x":14,"y":2199,"w":192,"h":122},{"id":"bf7dacc23ef4e099","type":"api-call-service","z":"0c124e3942812487","name":"Turn on bedroom lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["bedroom"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":80,"wires":[[]]},{"id":"66e83a35ecf718dc","type":"api-current-state","z":"0c124e3942812487","name":"Sun below horizon","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":80,"wires":[["bf7dacc23ef4e099"],[]]},{"id":"1b8ef324023ebace","type":"ha-zone","z":"0c124e3942812487","name":"Cam enters home","server":"1b0f71ea.e0ea9e","version":1,"exposeAsEntityConfig":"","entities":["person.cam"],"event":"enter","zones":["zone.home"],"x":110,"y":80,"wires":[["66e83a35ecf718dc"]]},{"id":"3a7918f5b56eada3","type":"comment","z":"0c124e3942812487","name":"Turn on bedroom lights if Cam comes home after sunset","info":"Turn on bedroom lights if Cam comes home after sunset","x":220,"y":40,"wires":[]},{"id":"d3661ec8faf7c25d","type":"ha-zone","z":"0c124e3942812487","name":"Cam leaves home","server":"1b0f71ea.e0ea9e","version":1,"exposeAsEntityConfig":"","entities":["person.cam"],"event":"leave","zones":["zone.home"],"x":110,"y":140,"wires":[["57fdf287ccc71608"]]},{"id":"57fdf287ccc71608","type":"api-current-state","z":"0c124e3942812487","name":"Is lights on","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":140,"wires":[["ecd6200e7c7e0b36"],[]]},{"id":"ecd6200e7c7e0b36","type":"api-call-service","z":"0c124e3942812487","name":"Turn off lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["ef6eeed7396b3af139764f1f513ad15d","8b813c646182b82d03ddeee1e19ad069"],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":140,"wires":[[]]},{"id":"325a2b07057e9f0d","type":"server-state-changed","z":"0c124e3942812487","name":"Xbox Playing","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.xboxone","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"playing","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1360,"wires":[["9590480c4e57548f"],[]]},{"id":"68e8c3540f55ab68","type":"server-state-changed","z":"0c124e3942812487","name":"Xbox Paused","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.xboxone","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"paused","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1460,"wires":[["f301d4ea5a223fee"],[]]},{"id":"b03eb638d588caea","type":"api-call-service","z":"0c124e3942812487","name":"Turn off lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["bedroom"],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":1360,"wires":[[]]},{"id":"d7ca840fb0f8b467","type":"api-call-service","z":"0c124e3942812487","name":"Purple room","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.purple"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":1460,"wires":[[]]},{"id":"ef2656f14888a486","type":"comment","z":"0c124e3942812487","name":"Xbox/Plex lights play/pause","info":"","x":140,"y":1280,"wires":[]},{"id":"904a11e375600362","type":"server-state-changed","z":"0c124e3942812487","d":true,"name":"Xbox off","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.xboxone","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1520,"wires":[["24368c510dbc3404"],[]]},{"id":"2863454732c42761","type":"api-call-service","z":"0c124e3942812487","name":"Normal light config","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.blue_strip_white_bulb"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1520,"wires":[["f0800ccc6f5e3335"]]},{"id":"44ff9f49664a5fb3","type":"api-call-service","z":"0c124e3942812487","name":"Turn sleeper mode off","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.sleeper_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":560,"wires":[["b62e3b5b95bb9122"]]},{"id":"de1deed12d8fb971","type":"api-call-service","z":"0c124e3942812487","name":"Turn sleeper mode on","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sleeper_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":500,"wires":[[]]},{"id":"10e2605732a03ba3","type":"ha-zone","z":"0c124e3942812487","name":"Cam arrives home","server":"1b0f71ea.e0ea9e","version":1,"exposeAsEntityConfig":"","entities":["person.cam"],"event":"enter","zones":["zone.home"],"x":110,"y":280,"wires":[["226e8a11194f190b"]]},{"id":"226e8a11194f190b","type":"api-current-state","z":"0c124e3942812487","name":"If spotify is playing","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.spotify_gingercam","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":280,"wires":[["af42c6e45dd86b55"],[]]},{"id":"88dd0a9de69a10d1","type":"api-call-service","z":"0c124e3942812487","name":"Start play on Surround sound","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":[],"data":"{\"device_name\": \"Surround Sound\",\"force_playback\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":280,"wires":[["e16b31fdc93fa54f"]]},{"id":"af42c6e45dd86b55","type":"time-range-switch","z":"0c124e3942812487","name":"","lat":"52.19853","lon":"-0.88483","startTime":"8:00","endTime":"21:30","startOffset":0,"endOffset":0,"x":490,"y":280,"wires":[["57d70cc418e775b9"],[]]},{"id":"1bbc9d184e715355","type":"server-state-changed","z":"0c124e3942812487","name":"Sleep Confidence >= 70 for 5 mins","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.cam_s_s23_sleep_confidence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"70","ifStateType":"num","ifStateOperator":"gte","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":500,"wires":[["780c1b1512b5c972"],[]]},{"id":"b20fe220595ba74b","type":"api-current-state","z":"0c124e3942812487","name":"Is S23 off","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.cam_s_s23_interactive","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"2","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":500,"wires":[["d1615630d6a21190"],[]]},{"id":"d1615630d6a21190","type":"api-current-state","z":"0c124e3942812487","name":"Is charging","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.cam_s_s23_is_charging","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload1","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"2","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":500,"wires":[["98784d131c31c0e4"],[]]},{"id":"780c1b1512b5c972","type":"time-range-switch","z":"0c124e3942812487","name":"","lat":"52.19814","lon":"-0.8758","startTime":"22:30","endTime":"3:00","startOffset":0,"endOffset":0,"x":390,"y":500,"wires":[["b20fe220595ba74b"],[]]},{"id":"228050ab22313b9a","type":"time-range-switch","z":"0c124e3942812487","name":"","lat":"52.19814","lon":"-0.8758","startTime":"6:30","endTime":"13:00","startOffset":0,"endOffset":0,"x":390,"y":560,"wires":[["44ff9f49664a5fb3"],[]]},{"id":"09e9a9844653cafc","type":"comment","z":"0c124e3942812487","name":"Turn on sleeper mode if sleep confidence, device locked and charging","info":"","x":270,"y":460,"wires":[]},{"id":"e5dd2b200e840778","type":"server-state-changed","z":"0c124e3942812487","name":"Sleep Confidence <= 30 for 5 mins","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.cam_s_s23_sleep_confidence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"30","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":560,"wires":[["228050ab22313b9a"],[]]},{"id":"9b5df2c336f60baa","type":"ha-switch","z":"0c124e3942812487","name":"Spotify Home","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"1cf8d7e0864aa7c4","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":340,"wires":[["2b42a53df0248515"],[]]},{"id":"2b42a53df0248515","type":"ha-wait-until","z":"0c124e3942812487","name":"Wait till cam is home","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"person.cam","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":300,"y":340,"wires":[["af42c6e45dd86b55"]]},{"id":"24368c510dbc3404","type":"api-current-state","z":"0c124e3942812487","name":"If Cam's home","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.cam","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":1520,"wires":[["0750f4bdb4c9d986"],[]]},{"id":"e16b31fdc93fa54f","type":"api-call-service","z":"0c124e3942812487","name":"Turn off spotify switch","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.spotify_when_arrive_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":340,"wires":[[]]},{"id":"0750f4bdb4c9d986","type":"api-current-state","z":"0c124e3942812487","name":"If bedroom lights on","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":1520,"wires":[["2863454732c42761"],["2863454732c42761"]]},{"id":"f0800ccc6f5e3335","type":"switch","z":"0c124e3942812487","name":"If msg.payload = off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":1460,"wires":[["e03eb5d1a86fe931"]]},{"id":"e03eb5d1a86fe931","type":"api-call-service","z":"0c124e3942812487","name":"Turn off lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedroom_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1520,"wires":[[]]},{"id":"57d70cc418e775b9","type":"delay","z":"0c124e3942812487","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":280,"wires":[["88dd0a9de69a10d1"]]},{"id":"dcfa7630f2c41732","type":"server-state-changed","z":"0c124e3942812487","name":"If sleeper mode on","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.sleeper_mode","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":620,"wires":[["a888fec0a4941ba8"],[]]},{"id":"a888fec0a4941ba8","type":"api-current-state","z":"0c124e3942812487","name":"LED strips off","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bedroom_leds","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":620,"wires":[[],["84045d41eb523b94"]]},{"id":"84045d41eb523b94","type":"api-call-service","z":"0c124e3942812487","name":"Turn off","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedroom_leds"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":620,"wires":[["a722d16870fc4c01"]]},{"id":"e7fe2c8644cbcd05","type":"server-state-changed","z":"0c124e3942812487","name":"Plex playing","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.plex_plex_for_xbox_xboxone","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"playing","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1320,"wires":[["4e68e24a2823137c"],[]]},{"id":"659dabee014a2930","type":"server-state-changed","z":"0c124e3942812487","name":"Plex paused","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.plex_plex_for_xbox_xboxone","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"paused","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1420,"wires":[["3aaedd0591e30603"],[]]},{"id":"3aaedd0591e30603","type":"switch","z":"0c124e3942812487","name":"If not music","property":"data.new_state.attributes.media_content_type","propertyType":"msg","rules":[{"t":"neq","v":"music","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":1420,"wires":[["f301d4ea5a223fee"]]},{"id":"4e68e24a2823137c","type":"switch","z":"0c124e3942812487","name":"If not music","property":"data.new_state.attributes.media_content_type","propertyType":"msg","rules":[{"t":"neq","v":"music","vt":"str"},{"t":"eq","v":"music","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1320,"wires":[["9590480c4e57548f"],[]]},{"id":"b2b442d5597a3eb9","type":"ha-select","z":"0c124e3942812487","name":"Xbox select","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"ba2253c47674bd6e","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":90,"y":1700,"wires":[["75200a256e5283b1"]]},{"id":"016caa340e409a05","type":"switch","z":"0c124e3942812487","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Plex","vt":"str"},{"t":"eq","v":"Netflix","vt":"str"},{"t":"eq","v":"Fortnite","vt":"str"},{"t":"eq","v":"Rdr2","vt":"str"},{"t":"eq","v":"Spotify","vt":"str"},{"t":"eq","v":"Prime","vt":"str"},{"t":"eq","v":"Disney","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":930,"y":1720,"wires":[["2e6cb2e12302a10c"],["821645170a970ed3"],["360924288303ea31"],["1a9ab0fa825b24a8"],["cecb9d1977bbb3c7"],["a3ed6f10fd0e8bae"],["497d505f19699214"]]},{"id":"fa671d6d1acf882d","type":"ha-wait-until","z":"0c124e3942812487","g":"3f5e70ab59c18d31","name":"Wait till Cam home","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"person.cam","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":510,"y":1760,"wires":[["ef51ab590fa1d542"]]},{"id":"c3c1c28b5cb18250","type":"api-current-state","z":"0c124e3942812487","g":"3f5e70ab59c18d31","name":"Is cam home","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.cam","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":1700,"wires":[["ef51ab590fa1d542"],["fa671d6d1acf882d"]]},{"id":"ef51ab590fa1d542","type":"api-current-state","z":"0c124e3942812487","g":"3f5e70ab59c18d31","name":"Is xbox off","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.xboxone","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":1700,"wires":[["796a88ededdec77d"],["016caa340e409a05"]]},{"id":"75200a256e5283b1","type":"api-current-state","z":"0c124e3942812487","g":"3f5e70ab59c18d31","name":"Xbox switch","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.xbox_select","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":1700,"wires":[["c3c1c28b5cb18250"],["66cb14fe0c2b854f"]]},{"id":"66cb14fe0c2b854f","type":"ha-wait-until","z":"0c124e3942812487","g":"3f5e70ab59c18d31","name":"Wait till it turns on","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"input_boolean.xbox_select","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":250,"y":1760,"wires":[["c3c1c28b5cb18250"]]},{"id":"796a88ededdec77d","type":"api-call-service","z":"0c124e3942812487","name":"Turn on xbox","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"turn_on","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1600,"wires":[["67099f190a11f5f4"]]},{"id":"67099f190a11f5f4","type":"ha-wait-until","z":"0c124e3942812487","name":"Wait till xbox on","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"media_player.xboxone","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":840,"y":1600,"wires":[["016caa340e409a05"]]},{"id":"2e6cb2e12302a10c","type":"api-call-service","z":"0c124e3942812487","name":"Plex","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"9NBLGGH3ZZVF\",\"media_content_type\":\"app\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1600,"wires":[["d55f41a1bcdb16c4"]]},{"id":"821645170a970ed3","type":"api-call-service","z":"0c124e3942812487","name":"Netflix","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"9WZDNCRFJ3TJ\",\"media_content_type\":\"app\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1640,"wires":[["d55f41a1bcdb16c4"]]},{"id":"360924288303ea31","type":"api-call-service","z":"0c124e3942812487","name":"Fort","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"BT5P2X999VH2\",\"media_content_type\":\"game\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1680,"wires":[["d55f41a1bcdb16c4"]]},{"id":"1a9ab0fa825b24a8","type":"api-call-service","z":"0c124e3942812487","name":"Rdr2","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"BPSWGQBW7R3G\",\"media_content_type\":\"game\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1720,"wires":[["d55f41a1bcdb16c4"]]},{"id":"497d505f19699214","type":"api-call-service","z":"0c124e3942812487","name":"Disney","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"9NXQXXLFST89\",\"media_content_type\":\"app\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1840,"wires":[["d55f41a1bcdb16c4"]]},{"id":"a3ed6f10fd0e8bae","type":"api-call-service","z":"0c124e3942812487","name":"Prime","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"9NHRLPH6FFCT\",\"media_content_type\":\"app\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1800,"wires":[["d55f41a1bcdb16c4"]]},{"id":"cecb9d1977bbb3c7","type":"api-call-service","z":"0c124e3942812487","name":"Spotify","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["8ad960e20b324d1e8eb80e7e639fd120"],"entityId":[],"data":"{\"media_content_id\":\"9NFQ49H668TB\",\"media_content_type\":\"app\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1760,"wires":[["d55f41a1bcdb16c4"]]},{"id":"a08e3608b003a3d0","type":"api-call-service","z":"0c124e3942812487","name":"Set option to None","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":[],"entityId":["select.nodered_ba2253c47674bd6e"],"data":"{\"option\": \"None\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":1720,"wires":[["5fdf95bd2157c76c"]]},{"id":"d55f41a1bcdb16c4","type":"delay","z":"0c124e3942812487","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1360,"y":1720,"wires":[["a08e3608b003a3d0"]]},{"id":"b25cb3d3facc4716","type":"ha-switch","z":"0c124e3942812487","name":"Sleep mode","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"0987e5481bedf666","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":840,"wires":[["cbbe2c42661b7884"],["61f9afaf774d3e2c"]]},{"id":"b8c328e6bfece284","type":"ha-switch","z":"0c124e3942812487","name":"Sleep lights","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"45b19e98ca90ef23","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":1020,"wires":[["ba2454e2743c7bb7"],["4cbdb533615cbc2d"]]},{"id":"ba2454e2743c7bb7","type":"api-call-service","z":"0c124e3942812487","name":"Mood orange","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.orange_mood"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":1000,"wires":[[]]},{"id":"cbbe2c42661b7884","type":"api-current-state","z":"0c124e3942812487","name":"Sleep Lights on","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.sleep_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":820,"wires":[["02d981cfbffd4aff"],["b4f133ace4966d6f"]]},{"id":"b4f133ace4966d6f","type":"api-call-service","z":"0c124e3942812487","name":"Turn on sleep lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.sleep_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":840,"wires":[["02d981cfbffd4aff"]]},{"id":"02d981cfbffd4aff","type":"api-call-service","z":"0c124e3942812487","name":"1% brightness","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bedroom_leds"],"data":"{\"brightness_pct\": 1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"queue":"none","x":680,"y":820,"wires":[["f7d4bb14afaeca64"]]},{"id":"ae77f4f91126e674","type":"api-call-service","z":"0c124e3942812487","name":"normal lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.blue_strip_white_bulb"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":1060,"wires":[[]]},{"id":"0aae9890f2a819c2","type":"api-call-service","z":"0c124e3942812487","name":"Turn off speaker","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"turn_off","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":620,"wires":[[]]},{"id":"a722d16870fc4c01","type":"api-current-state","z":"0c124e3942812487","name":"If speaker playing","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.cams_speaker","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":620,"wires":[["0aae9890f2a819c2"],[]]},{"id":"950cbb63de6d463b","type":"api-call-service","z":"0c124e3942812487","name":"Play selected mp3","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"media_content_type\": \"audio/mpeg\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":820,"wires":[[]]},{"id":"f7d4bb14afaeca64","type":"api-call-service","z":"0c124e3942812487","name":"Set speaker to 9%","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"volume_level\": \"0.09\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":820,"wires":[["704babf26fc1673d"]]},{"id":"4cbdb533615cbc2d","type":"ha-wait-until","z":"0c124e3942812487","name":"Wait until bedroom lights on","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"light.bedroom_lights","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":360,"y":1060,"wires":[["ae77f4f91126e674"]]},{"id":"d17fdf25d2c69db7","type":"api-call-service","z":"0c124e3942812487","name":"Smooth soul surround sound","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":[],"data":"{\"force_playback\":false,\"random_song\":true,\"repeat\":\"context\",\"shuffle\":false,\"ignore_fully_played\":false,\"spotify_device_id\":\"e112d0ef6e48afa572cf4f922f700d4ac726e9c0\",\"uri\":\"spotify:playlist:60FoyGDDGbIqLLs1ZjtTUO?si=975b48fb479a45cf\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":1920,"wires":[["fe766b32684161ba"]]},{"id":"ec8bc54bdba9cd70","type":"api-call-service","z":"0c124e3942812487","name":"Red lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.red_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1920,"wires":[[]]},{"id":"b24925b025bb5f21","type":"api-call-service","z":"0c124e3942812487","name":"Aftercare surround sound","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":[],"data":"{\"force_playback\":false,\"random_song\":true,\"repeat\":\"context\",\"shuffle\":false,\"ignore_fully_played\":false,\"spotify_device_id\":\"e112d0ef6e48afa572cf4f922f700d4ac726e9c0\",\"uri\":\"spotify:playlist:5TaMjINxbK3umffARR90MP?si=16d4285db3c44422\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":2000,"wires":[["8cf7ecdcb952d12d"]]},{"id":"8cf7ecdcb952d12d","type":"api-call-service","z":"0c124e3942812487","name":"Aftercare lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.aftercare"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":2000,"wires":[[]]},{"id":"61f9afaf774d3e2c","type":"api-call-service","z":"0c124e3942812487","name":"Turn sleep lights off","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sleep_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":880,"wires":[[]]},{"id":"b62e3b5b95bb9122","type":"api-call-service","z":"0c124e3942812487","name":"Turn sleep mode off","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sleep_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":560,"wires":[[]]},{"id":"9590480c4e57548f","type":"api-current-state","z":"0c124e3942812487","name":"Sun BH","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":1360,"wires":[["b03eb638d588caea"],[]]},{"id":"f301d4ea5a223fee","type":"api-current-state","z":"0c124e3942812487","name":"Sun BH","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1460,"wires":[["d7ca840fb0f8b467"],[]]},{"id":"5fdf95bd2157c76c","type":"api-call-service","z":"0c124e3942812487","name":"Xbox switch","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.xbox_select"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1710,"y":1720,"wires":[[]]},{"id":"9a4211b59e6406d3","type":"ha-switch","z":"0c124e3942812487","name":"Red mode","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"31e6144cc521d384","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":80,"y":1920,"wires":[[],[]]},{"id":"8bcb245647756a6a","type":"server-state-changed","z":"0c124e3942812487","name":"Red mode","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.red_mode","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":1980,"wires":[["d17fdf25d2c69db7"],["b24925b025bb5f21"]]},{"id":"b4b3b12b06fd19c6","type":"ha-switch","z":"0c124e3942812487","g":"4745687a1c275a20","name":"Morning alarm","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"0249546edd616b14","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":2280,"wires":[[],[]]},{"id":"e63f57c48fc3cb6d","type":"ha-time","z":"0c124e3942812487","g":"ab3748c3a6e271dd","name":"Cam's alarm","server":"1b0f71ea.e0ea9e","version":3,"exposeAsEntityConfig":"","entityId":"input_datetime.cams_alarm","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":130,"y":2360,"wires":[["cc05a7a79919b8d2"]]},{"id":"cc05a7a79919b8d2","type":"api-current-state","z":"0c124e3942812487","g":"ab3748c3a6e271dd","name":"Morning alarm switch","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.morning_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":2360,"wires":[["cc9fbb93ecc9e08a"],[]]},{"id":"cc9fbb93ecc9e08a","type":"api-current-state","z":"0c124e3942812487","name":"Is cam home","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.cam","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":2400,"wires":[["63863927404ca402"],[]]},{"id":"53767e311bd70589","type":"api-call-service","z":"0c124e3942812487","name":"Alarm on google home","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"media_content_id\": \"media-source://media_source/local/alarm.mp3\", \"media_content_type\": \"audio/mpeg\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":2400,"wires":[["838e455329a2c1bc"]]},{"id":"63863927404ca402","type":"api-call-service","z":"0c124e3942812487","name":"Set speaker to 80%","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"volume_level\": \"0.8\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":2400,"wires":[["53767e311bd70589"]]},{"id":"838e455329a2c1bc","type":"ha-wait-until","z":"0c124e3942812487","name":"Wait till alarm turned off","server":"1b0f71ea.e0ea9e","version":2,"outputs":2,"entityId":"media_player.cams_speaker","entityIdFilterType":"exact","property":"state","comparator":"is","value":"paused","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1150,"y":2400,"wires":[["9d93dc088ae990f3"],[]]},{"id":"2a396dbc3d7a1dd8","type":"api-call-service","z":"0c124e3942812487","name":"Turn on lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bedroom_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":2460,"wires":[["50f3d1e4209a8521"]]},{"id":"9d93dc088ae990f3","type":"api-call-service","z":"0c124e3942812487","name":"Turn off sleeper mode","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.sleeper_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":2460,"wires":[["2a396dbc3d7a1dd8"]]},{"id":"0c5c98c2f993d59c","type":"api-call-service","z":"0c124e3942812487","name":"Start play on Cam's speaker","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":["media_player.cams_speaker"],"data":"{\"force_playback\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":2460,"wires":[["03ac07671d543510"]]},{"id":"12a5cb5b7794b9fa","type":"api-call-service","z":"0c124e3942812487","name":"TTS morning message","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"message\":\"Good morning cam\",\"media_player_entity_id\":\"media_player.cams_speaker\",\"cache\":true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":2460,"wires":[["0c5c98c2f993d59c"]]},{"id":"50f3d1e4209a8521","type":"api-call-service","z":"0c124e3942812487","name":"12% volume","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"volume_level\":\"0.12\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":2460,"wires":[["12a5cb5b7794b9fa"]]},{"id":"5e270c965ed11c32","type":"api-call-service","z":"0c124e3942812487","name":"Pause speaker","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":2520,"wires":[[]]},{"id":"03ac07671d543510","type":"delay","z":"0c124e3942812487","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":2520,"wires":[["5e270c965ed11c32"]]},{"id":"00f7db16ae36a118","type":"ha-switch","z":"0c124e3942812487","g":"4745687a1c275a20","name":"School alarm","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"cb2599e3c71f8d39","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":2240,"wires":[[],[]]},{"id":"56c2daa00d2a83aa","type":"ha-time","z":"0c124e3942812487","g":"ab3748c3a6e271dd","name":"School alarm","server":"1b0f71ea.e0ea9e","version":3,"exposeAsEntityConfig":"","entityId":"input_datetime.school_alarm","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"x":130,"y":2400,"wires":[["a7335f43f794a0f8"]]},{"id":"a7335f43f794a0f8","type":"api-current-state","z":"0c124e3942812487","g":"ab3748c3a6e271dd","name":"School alarm switch","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.school_alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":2400,"wires":[["cc9fbb93ecc9e08a"],[]]},{"id":"1975dae39f86af39","type":"inject","z":"0c124e3942812487","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":2300,"wires":[["cc9fbb93ecc9e08a"]]},{"id":"6408b409191e4924","type":"comment","z":"0c124e3942812487","name":"If Cams' playing spotify when arrive home or spotify home switch is on, play music on surround sound speakers","info":"","x":390,"y":240,"wires":[]},{"id":"cedf230485d37154","type":"comment","z":"0c124e3942812487","name":"Sleep mode and sleep light nodes","info":"","x":180,"y":700,"wires":[]},{"id":"aeede2acd0ba79ea","type":"comment","z":"0c124e3942812487","name":"Red mode and aftercare flows","info":"","x":140,"y":1880,"wires":[]},{"id":"7ed33bbcea6c6ad4","type":"comment","z":"0c124e3942812487","name":"Morning alarm flows","info":"","x":110,"y":2160,"wires":[]},{"id":"98784d131c31c0e4","type":"api-current-state","z":"0c124e3942812487","name":"Sleep Mode","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":500,"wires":[["de1deed12d8fb971"],[]]},{"id":"704babf26fc1673d","type":"olfnf-folder-listing","z":"0c124e3942812487","g":"7bca04cba9dce64d","folder":"/media/audios/sleep/","folder_type":"str","subfolder":false,"ignoreempty":true,"masks":"*.*","masksregex":false,"name":"List /meda/audios/sleep/","x":1090,"y":820,"wires":[["5d5fa21b61f4db63"]]},{"id":"5d5fa21b61f4db63","type":"function","z":"0c124e3942812487","g":"7bca04cba9dce64d","name":"Set syntax and count files","func":"for (let index = 0; index < msg.payload.length; index++) {\n    var element = msg.payload[index];\n    msg.payload[index] = element.slice(20,)\n}\n\nmsg.to = msg.payload.length - 1;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":820,"wires":[["14424a1863c52f23"]]},{"id":"14424a1863c52f23","type":"random","z":"0c124e3942812487","g":"7bca04cba9dce64d","name":"random int","low":"0","high":"","inte":"true","property":"random","x":1530,"y":820,"wires":[["5edf895a713b3335"]]},{"id":"5edf895a713b3335","type":"function","z":"0c124e3942812487","g":"7bca04cba9dce64d","name":"Select mp3","func":"var mp3 = msg.payload[msg.random]\nvar msg = {\n    \"payload\":{\n        \"data\": {\n            \"media_content_id\": \"media-source://media_source/local/audios/sleep/\" + mp3\n            }\n        }\n    }\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":820,"wires":[["950cbb63de6d463b"]]},{"id":"d3c16f3324884804","type":"comment","z":"0c124e3942812487","name":"If sleep lights on then continue if not then turn it on then set brightness of leds to 1%, then select mp3 from sleep audios folder then play that on 9% volume","info":"","x":550,"y":760,"wires":[]},{"id":"e8be7b547b967a9e","type":"comment","z":"0c124e3942812487","name":"When turned on turn \"Mood orange\" scene on, when off wait till bedroom light turns on then set \"normal\" scene on","info":"","x":420,"y":960,"wires":[]},{"id":"fe766b32684161ba","type":"time-range-switch","z":"0c124e3942812487","name":"sunset - sunrise","lat":"52.19879","lon":"-0.88032","startTime":"sunsetStart","endTime":"sunrise","startOffset":0,"endOffset":0,"x":540,"y":1920,"wires":[["ec8bc54bdba9cd70"],[]]},{"id":"1b0f71ea.e0ea9e","type":"server","name":"Home Assistant","addon":true},{"id":"1cf8d7e0864aa7c4","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Spotify Home","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Spotify when arrive home"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"ba2253c47674bd6e","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Xbox Selector","version":"6","entityType":"select","haConfig":[{"property":"name","value":"Xbox selector"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["None","Plex","Fortnite","Netflix","Rdr2","Spotify","Prime","DIsney"]}],"resend":false,"debugEnabled":false},{"id":"0987e5481bedf666","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Sleep mode","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Sleep Mode"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"45b19e98ca90ef23","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Sleep Lights","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Sleep Lights"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"31e6144cc521d384","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Red mode","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Red mode"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"0249546edd616b14","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Morning alarm","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Morning alarm"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"cb2599e3c71f8d39","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"School alarm","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"School alarm"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false}]