node-red/flows/System/flows.json
[{"id":"5b284ad66a3ed081","type":"tab","label":"System","disabled":false,"info":"","env":[]},{"id":"175b86b3be5ae2f7","type":"comment","z":"5b284ad66a3ed081","name":"Notify when Home assistant can be updated","info":"","x":190,"y":60,"wires":[]},{"id":"3922f9c00c60c937","type":"server-state-changed","z":"5b284ad66a3ed081","name":"Supervisor update","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"update.home_assistant_supervisor_update","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":100,"wires":[["5ded98e5b8659881"],[]]},{"id":"5ded98e5b8659881","type":"function","z":"5b284ad66a3ed081","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"Update is avaliable\",\n            \"title\": \"Hassio Update\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["6fbdb6a7ea8fc492"]]},{"id":"fc3c990d0ff0d327","type":"server-state-changed","z":"5b284ad66a3ed081","name":"OS update","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"update.home_assistant_operating_system_update","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":180,"wires":[["5ded98e5b8659881"],[]]},{"id":"ebbd9b49594caa7d","type":"server-state-changed","z":"5b284ad66a3ed081","name":"Core update","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"update.home_assistant_core_update","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":140,"wires":[["5ded98e5b8659881"],[]]},{"id":"bd813f83abc63ae5","type":"inject","z":"5b284ad66a3ed081","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":220,"wires":[["5ded98e5b8659881"]]},{"id":"6fbdb6a7ea8fc492","type":"api-call-service","z":"5b284ad66a3ed081","name":"Notify S23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":140,"wires":[["feb0d0ce86994532"]]},{"id":"feb0d0ce86994532","type":"debug","z":"5b284ad66a3ed081","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":140,"wires":[]},{"id":"1b0f71ea.e0ea9e","type":"server","name":"Home Assistant","addon":true}]