node-red/flows/Media_players/flows.json
[{"id":"db15a39fa295a1dd","type":"tab","label":"Media players","disabled":false,"info":"","env":[]},{"id":"7e6735f2141d6065","type":"junction","z":"db15a39fa295a1dd","x":1160,"y":520,"wires":[["e3398dc5e367dbde"]]},{"id":"050c3f7ae8550356","type":"server-state-changed","z":"db15a39fa295a1dd","name":"If Family Room not playing for 15 mins","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.family_room","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"playing","ifStateType":"str","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":160,"wires":[["b1f59fd0d3ec0a57"],[]]},{"id":"b1f59fd0d3ec0a57","type":"function","z":"db15a39fa295a1dd","name":"Get Entitiy ID","func":"msg=\n{\n    \"payload\":{\n        \"data\": {\n        \"entity_id\": msg.topic\n    }\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":160,"wires":[["1326603992cd2cd6"]]},{"id":"9c5ee81f7c9e5cb8","type":"server-state-changed","z":"db15a39fa295a1dd","name":"If Google Mini off for 15 mins","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.cams_speaker","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"playing","ifStateType":"str","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":100,"wires":[["b1f59fd0d3ec0a57"],[]]},{"id":"f08d4b9fbb37daa7","type":"server-state-changed","z":"db15a39fa295a1dd","name":"If Alexa Speaker off for 15 mins","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.cameron_s_alexa","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"15","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":220,"wires":[["b1f59fd0d3ec0a57"],[]]},{"id":"3c5372605bb7be01","type":"inject","z":"db15a39fa295a1dd","name":"Test with Google Home mini","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"media_player.cams_speaker","x":200,"y":280,"wires":[["b1f59fd0d3ec0a57"]]},{"id":"f4382a0bb43947c9","type":"api-call-service","z":"db15a39fa295a1dd","name":"Set Speaker to 20%","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":[],"data":"{'volume_level': 0.2}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":140,"wires":[[]]},{"id":"d104d92334633112","type":"comment","z":"db15a39fa295a1dd","name":"Change Speakers to 20% and off when paused for 15 mins","info":"","x":230,"y":40,"wires":[]},{"id":"1326603992cd2cd6","type":"time-range-switch","z":"db15a39fa295a1dd","name":"","lat":"52.19942","lon":"-0.90767","startTime":"7:00","endTime":"10:30","startOffset":0,"endOffset":0,"x":590,"y":160,"wires":[["f4382a0bb43947c9"],["49fff25651ed5f60"]]},{"id":"49fff25651ed5f60","type":"api-call-service","z":"db15a39fa295a1dd","name":"Set Speaker to 10%","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":[],"data":"{'volume_level': 0.1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":180,"wires":[[]]},{"id":"11189ef0efa5cdfa","type":"inject","z":"db15a39fa295a1dd","name":"Inject at 7:00AM","props":[],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","x":130,"y":500,"wires":[["f5b9f489fad27c61"]]},{"id":"af0e91b24a2ff694","type":"inject","z":"db15a39fa295a1dd","name":"Inject at 10:30PM","props":[],"repeat":"","crontab":"30 22 * * *","once":false,"onceDelay":0.1,"topic":"","x":130,"y":540,"wires":[["f5b9f489fad27c61"]]},{"id":"1f1283935d3e0e08","type":"api-call-service","z":"db15a39fa295a1dd","name":"Set Speaker to 20%","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":[],"data":"{'volume_level': 0.2}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":480,"wires":[[]]},{"id":"f5b9f489fad27c61","type":"ha-get-entities","z":"db15a39fa295a1dd","name":"Get media players","server":"1b0f71ea.e0ea9e","version":1,"rules":[{"property":"entity_id","logic":"in_group","value":"media_player.all_speakers","valueType":"str"}],"outputType":"array","outputEmptyResults":true,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":350,"y":520,"wires":[["37983aa2b0540755","14b30abd9baeec22"]]},{"id":"37983aa2b0540755","type":"debug","z":"db15a39fa295a1dd","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":460,"wires":[]},{"id":"ace2ea23a7416213","type":"inject","z":"db15a39fa295a1dd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":460,"wires":[["f5b9f489fad27c61"]]},{"id":"14b30abd9baeec22","type":"split","z":"db15a39fa295a1dd","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":520,"wires":[["f12d8775c70a4137"]]},{"id":"f12d8775c70a4137","type":"switch","z":"db15a39fa295a1dd","name":"Part index","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":6,"x":700,"y":520,"wires":[["06dd95984e399547"],["81f5ca1f9297115b"],["004006708465ae81"],["42c05927c0cb23a3"],["99a143f3b7adbe3f"],["71b190ea872da2ad"]]},{"id":"06dd95984e399547","type":"change","z":"db15a39fa295a1dd","name":"Set data","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[["11456a812c5d0c68"]]},{"id":"11456a812c5d0c68","type":"ha-wait-until","z":"db15a39fa295a1dd","name":"","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"playing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1000,"y":420,"wires":[["7e6735f2141d6065"]]},{"id":"81f5ca1f9297115b","type":"change","z":"db15a39fa295a1dd","name":"Set data","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["23259eac57595db0"]]},{"id":"23259eac57595db0","type":"ha-wait-until","z":"db15a39fa295a1dd","name":"","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"playing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1000,"y":460,"wires":[["7e6735f2141d6065"]]},{"id":"004006708465ae81","type":"change","z":"db15a39fa295a1dd","name":"Set data","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":500,"wires":[["d390c749e91c3438"]]},{"id":"d390c749e91c3438","type":"ha-wait-until","z":"db15a39fa295a1dd","name":"","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"playing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1000,"y":500,"wires":[["7e6735f2141d6065"]]},{"id":"42c05927c0cb23a3","type":"change","z":"db15a39fa295a1dd","name":"Set data","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":540,"wires":[["2f78bbe70d398cc0"]]},{"id":"2f78bbe70d398cc0","type":"ha-wait-until","z":"db15a39fa295a1dd","name":"","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"playing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1000,"y":540,"wires":[["7e6735f2141d6065"]]},{"id":"99a143f3b7adbe3f","type":"change","z":"db15a39fa295a1dd","name":"Set data","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":580,"wires":[["0f41805095a3eea5"]]},{"id":"0f41805095a3eea5","type":"ha-wait-until","z":"db15a39fa295a1dd","name":"","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"playing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1000,"y":580,"wires":[["7e6735f2141d6065"]]},{"id":"71b190ea872da2ad","type":"change","z":"db15a39fa295a1dd","name":"Set data","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":620,"wires":[["7c934771566c6a88"]]},{"id":"7c934771566c6a88","type":"ha-wait-until","z":"db15a39fa295a1dd","name":"","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"playing","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1000,"y":620,"wires":[["7e6735f2141d6065"]]},{"id":"e3398dc5e367dbde","type":"time-range-switch","z":"db15a39fa295a1dd","name":"","lat":"52.19942","lon":"-0.90767","startTime":"6:59","endTime":"22:29","startOffset":0,"endOffset":0,"x":1270,"y":520,"wires":[["1f1283935d3e0e08"],["9471e4608f5dc042"]]},{"id":"9471e4608f5dc042","type":"api-call-service","z":"db15a39fa295a1dd","name":"Set Speaker to 10%","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":[],"data":"{'volume_level': 0.1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1480,"y":560,"wires":[[]]},{"id":"7472399bb14fb459","type":"comment","z":"db15a39fa295a1dd","name":"Injects at 7:00AM and 10:30PM, then sets the volume of the media players in the all_speakers group to its designated value","info":"","x":450,"y":380,"wires":[]},{"id":"791b45c449fce3b2","type":"server-state-changed","z":"db15a39fa295a1dd","name":"If NowTV is playing","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.now_tv_yd007x747650","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"playing","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":800,"wires":[["d436ab8b3ac24edc"],[]]},{"id":"d436ab8b3ac24edc","type":"api-current-state","z":"db15a39fa295a1dd","name":"Is family room playing","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":820,"wires":[["6e984b88e8cc5a71"],[]]},{"id":"6e984b88e8cc5a71","type":"api-call-service","z":"db15a39fa295a1dd","name":"Pause family room","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":["9b95ad3c0d7e4ed14db32cd20881dabf"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":820,"wires":[[]]},{"id":"576bd94317663a91","type":"server-state-changed","z":"db15a39fa295a1dd","name":"If chromecast playing","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.chromecast","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"playing","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":860,"wires":[["d436ab8b3ac24edc"],[]]},{"id":"8545f1ea13aa100e","type":"comment","z":"db15a39fa295a1dd","name":"If Lounge TV is playing whilst Sonos is playing then pause Sonos","info":"","x":250,"y":760,"wires":[]},{"id":"1b0f71ea.e0ea9e","type":"server","name":"Home Assistant","addon":true}]