node-red/flows/Group-hangout/flows.json
[{"id":"c232b1a14af306ae","type":"tab","label":"Group Hangout","disabled":false,"info":"","env":[]},{"id":"63616215082f2d2f","type":"ha-switch","z":"c232b1a14af306ae","name":"Speaker artist skip","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"ec391f7084f51f48","enableInput":false,"outputOnStateChange":false,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":100,"wires":[[],[]]},{"id":"2251b20ee4ce34dd","type":"server-state-changed","z":"c232b1a14af306ae","name":"Speaker artist skip","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.speaker_artist_skip","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":180,"wires":[["02f809e4ab08bcf0"],[]]},{"id":"02f809e4ab08bcf0","type":"trigger","z":"c232b1a14af306ae","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-7","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":180,"wires":[["94072158486d3abb","f4e2ef4ad85153e1"]]},{"id":"94072158486d3abb","type":"api-current-state","z":"c232b1a14af306ae","name":"Family Room","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":260,"wires":[["41e918cdc82b9f47"],[]]},{"id":"c19fe65fdebec597","type":"switch","z":"c232b1a14af306ae","name":"","property":"data.attributes.media_artist","propertyType":"msg","rules":[{"t":"eq","v":"Taylor Swift","vt":"str"},{"t":"eq","v":"Harry Styles","vt":"str"},{"t":"eq","v":"girl in red","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":260,"wires":[["bd99271c02367479"],["bd99271c02367479"],["bd99271c02367479"]]},{"id":"bd99271c02367479","type":"api-call-service","z":"c232b1a14af306ae","name":"","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"media_next_track","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":260,"wires":[["6d1b6ad0ae599daa"]]},{"id":"6d1b6ad0ae599daa","type":"api-current-state","z":"c232b1a14af306ae","name":"","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.speaker_artist_skip","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":840,"y":300,"wires":[[],["8dfa2b86bc7828f2"]]},{"id":"c87b4cf5f896d316","type":"link out","z":"c232b1a14af306ae","name":"link out 2","mode":"link","links":["38dc165a5a2c0315"],"x":1105,"y":340,"wires":[]},{"id":"38dc165a5a2c0315","type":"link in","z":"c232b1a14af306ae","name":"link in 2","links":["c87b4cf5f896d316"],"x":215,"y":140,"wires":[["02f809e4ab08bcf0"]]},{"id":"8dfa2b86bc7828f2","type":"change","z":"c232b1a14af306ae","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":340,"wires":[["c87b4cf5f896d316"]]},{"id":"394397bf2e527b5e","type":"ha-button","z":"c232b1a14af306ae","name":"Friend selector","version":0,"debugenabled":false,"outputs":1,"entityConfig":"5abe9f050a43f23b","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":100,"y":480,"wires":[["f91c9cbafa7e52bd"]]},{"id":"9196d518b2d1dbc8","type":"ha-select","z":"c232b1a14af306ae","name":"Friend Selection","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"84ce547e61ccccbd","mode":"listen","value":"payload","valueType":"msg","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previousValue","propertyType":"msg","value":"","valueType":"previousValue"}],"x":100,"y":420,"wires":[[]]},{"id":"f91c9cbafa7e52bd","type":"api-current-state","z":"c232b1a14af306ae","name":"","server":"1b0f71ea.e0ea9e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.friend_selection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload2","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":480,"wires":[["bb2e68f5ddd96753"]]},{"id":"bb2e68f5ddd96753","type":"random","z":"c232b1a14af306ae","name":"","low":1,"high":"4","inte":"true","property":"payload","x":540,"y":560,"wires":[["adbb2520c3919847"]]},{"id":"adbb2520c3919847","type":"switch","z":"c232b1a14af306ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":560,"wires":[["c86377afa221d8d9"],["947282c81609ac2a"],["6e88267a34e73f29"],["eed8348a956139b7"]]},{"id":"c86377afa221d8d9","type":"function","z":"c232b1a14af306ae","name":"Greeting 1","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"Good evening,\" + msg.payload2\n            }\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":500,"wires":[["0804f11be73d4238","2ca3277aaf222488"]]},{"id":"947282c81609ac2a","type":"function","z":"c232b1a14af306ae","name":"Greeting 2","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"Hello,\" + msg.payload2\n        }\n    }\n}\n    ;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":540,"wires":[["0804f11be73d4238","2ca3277aaf222488"]]},{"id":"eed8348a956139b7","type":"function","z":"c232b1a14af306ae","name":"Greeting 4","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"Hey there,\" + msg.payload2 + \". Make yourself at home\"\n        }\n    }\n}\n    ;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":620,"wires":[["0804f11be73d4238","2ca3277aaf222488"]]},{"id":"6e88267a34e73f29","type":"function","z":"c232b1a14af306ae","name":"Greeting 3","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"Welcome,\" + msg.payload2 + \". I hope you are well\"\n            }\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":580,"wires":[["0804f11be73d4238","2ca3277aaf222488"]]},{"id":"0804f11be73d4238","type":"api-call-service","z":"c232b1a14af306ae","name":"","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\":\"media_player.cameron_s_alexa\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":580,"wires":[["b57777de76d61393"]]},{"id":"b57777de76d61393","type":"debug","z":"c232b1a14af306ae","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":560,"wires":[]},{"id":"f4e2ef4ad85153e1","type":"api-current-state","z":"c232b1a14af306ae","name":"Chromecast","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.chromecast","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":300,"wires":[["41e918cdc82b9f47"],[]]},{"id":"41e918cdc82b9f47","type":"change","z":"c232b1a14af306ae","name":"Set entity id","rules":[{"t":"set","p":"payload.data.entity_id","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["c19fe65fdebec597"]]},{"id":"85ddbbdd57b134a6","type":"comment","z":"c232b1a14af306ae","name":"Selector for friends announcement","info":"","x":160,"y":380,"wires":[]},{"id":"2ca3277aaf222488","type":"api-call-service","z":"c232b1a14af306ae","name":"","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\":\"media_player.family_room\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":540,"wires":[["b57777de76d61393"]]},{"id":"e2350690e7768fa3","type":"comment","z":"c232b1a14af306ae","name":"If artist playing on family room or chromecast equals a set list then skip the song. checks every 7 seconds","info":"","x":380,"y":60,"wires":[]},{"id":"ec391f7084f51f48","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Speaker artist skip","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Speaker artist skip"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"1b0f71ea.e0ea9e","type":"server","name":"Home Assistant","addon":true},{"id":"5abe9f050a43f23b","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Friend selector","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Friend selector"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"84ce547e61ccccbd","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Friend selection","version":"6","entityType":"select","haConfig":[{"property":"name","value":"Friend selection"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"options","value":["Bella","Jessica","George","Emily","Alayya"]}],"resend":false,"debugEnabled":false}]