node-red/flows/Personal/flows.json
[{"id":"032c3f923b1eec4f","type":"tab","label":"Personal","disabled":false,"info":"","env":[]},{"id":"dbc60361249f1383","type":"junction","z":"032c3f923b1eec4f","x":520,"y":60,"wires":[["91c9a71cadd7dd83","d8bd957ba05ef48e"]]},{"id":"91c9a71cadd7dd83","type":"debug","z":"032c3f923b1eec4f","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"data","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":20,"wires":[]},{"id":"6df6f089c1135904","type":"change","z":"032c3f923b1eec4f","name":"","rules":[{"t":"set","p":"data.title","pt":"msg","to":"data.new_state.attributes[\"android.title\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":120,"wires":[["dbc60361249f1383"]]},{"id":"609e20d335ac9513","type":"change","z":"032c3f923b1eec4f","name":"","rules":[{"t":"set","p":"data.text","pt":"msg","to":"data.new_state.attributes[\"android.text\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[["6df6f089c1135904"]]},{"id":"d8bd957ba05ef48e","type":"function","z":"032c3f923b1eec4f","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": msg.data.text,\n            \"title\": msg.data.title,\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":60,"wires":[["56221a5495fca03c"]]},{"id":"18cd089114b42762","type":"server-state-changed","z":"032c3f923b1eec4f","d":true,"name":"Last notification","server":"1b0f71ea.e0ea9e","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.cam_s_s23_last_notification","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":60,"wires":[["609e20d335ac9513"]]},{"id":"56221a5495fca03c","type":"api-call-service","z":"032c3f923b1eec4f","name":"Notify cam","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":60,"wires":[["cc9f64cdc5a33dc1"]]},{"id":"cc9f64cdc5a33dc1","type":"debug","z":"032c3f923b1eec4f","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":120,"wires":[]},{"id":"69f383f6b0a71f6e","type":"ha-button","z":"032c3f923b1eec4f","name":"S23 Button","version":0,"debugenabled":false,"outputs":1,"entityConfig":"1fbdbbcedd6fd0b1","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":80,"y":660,"wires":[["f45c2896960be452"]]},{"id":"f45c2896960be452","type":"api-current-state","z":"032c3f923b1eec4f","name":"Is red mode on","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.red_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":660,"wires":[["46a0f0985bb3f524"],["6a945b2fa5947241"]]},{"id":"46a0f0985bb3f524","type":"api-call-service","z":"032c3f923b1eec4f","name":"Turn red mode off","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.red_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":620,"wires":[[]]},{"id":"6a945b2fa5947241","type":"api-call-service","z":"032c3f923b1eec4f","name":"Toggle bedroom lights","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"script","service":"togglelights","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":700,"wires":[[]]},{"id":"4f67c34562bd7107","type":"ha-button","z":"032c3f923b1eec4f","name":"S23 Volume up","version":0,"debugenabled":false,"outputs":1,"entityConfig":"12954c08de002857","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":100,"y":760,"wires":[["49ed79f43dfe3fe7"]]},{"id":"1339e719908b539f","type":"ha-button","z":"032c3f923b1eec4f","name":"S23 Volume down","version":0,"debugenabled":false,"outputs":1,"entityConfig":"921d1082c884d2c2","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":110,"y":820,"wires":[[]]},{"id":"e24fc34bb472733e","type":"ha-button","z":"032c3f923b1eec4f","name":"Spotify surround sound","version":0,"debugenabled":false,"outputs":1,"entityConfig":"99685320c0312532","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":120,"y":240,"wires":[["a88fc513d7248395"]]},{"id":"2a6944de202a4e33","type":"ha-button","z":"032c3f923b1eec4f","name":"Spotify Google home","version":0,"debugenabled":false,"outputs":1,"entityConfig":"e9e59c698bbc9e53","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":120,"y":320,"wires":[["a564786d6e5c6f4d"]]},{"id":"a88fc513d7248395","type":"api-call-service","z":"032c3f923b1eec4f","name":"Surround sound","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":[],"data":"{\"device_name\": \"Surround Sound\",\"force_playback\": true}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":240,"wires":[["26b18b0366a7f0ec"]]},{"id":"26b18b0366a7f0ec","type":"debug","z":"032c3f923b1eec4f","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":280,"wires":[]},{"id":"a564786d6e5c6f4d","type":"api-call-service","z":"032c3f923b1eec4f","name":"Google home","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":["media_player.cams_speaker"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":320,"wires":[["26b18b0366a7f0ec"]]},{"id":"49ed79f43dfe3fe7","type":"api-call-service","z":"032c3f923b1eec4f","name":"Play/Pause spotify","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"media_play_pause","areaId":[],"deviceId":[],"entityId":["media_player.spotify_gingercam"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":760,"wires":[[]]},{"id":"77a3ccb339b4f52b","type":"server-state-changed","z":"032c3f923b1eec4f","name":"XPS-13 less than 30%","server":"1b0f71ea.e0ea9e","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.xps_13_xps_13_battery_charge_remaining_percentage","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"30","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":480,"wires":[["da080f1d64bd46ed"],[]]},{"id":"ba8113a8396ca247","type":"function","z":"032c3f923b1eec4f","name":"Set notification data","func":"var msg = {\n    \"payload\": {\n        \"data\": {\n            \"message\": \"Less than 30% remaining\",\n            \"title\": \"XPS-13 Battery\"\n}\n        }\n    }\n;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":480,"wires":[["3119b128c274ce3b"]]},{"id":"3119b128c274ce3b","type":"api-call-service","z":"032c3f923b1eec4f","name":"Notify s23","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_cam_s_s23","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":480,"wires":[[]]},{"id":"da080f1d64bd46ed","type":"api-current-state","z":"032c3f923b1eec4f","name":"If not charging","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"Low, Charging","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.xps_13_xps_13_battery_charge_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":480,"wires":[["ba8113a8396ca247"],[]]},{"id":"def250fcd2d536d4","type":"ha-switch","z":"032c3f923b1eec4f","name":"Waiting for someone","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"27fcdc20e03865e5","enableInput":false,"outputOnStateChange":true,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":960,"wires":[["7ef0a4cbb6a9e6c6"],[]]},{"id":"7ef0a4cbb6a9e6c6","type":"ha-wait-until","z":"032c3f923b1eec4f","name":"wait until front motion","server":"1b0f71ea.e0ea9e","version":2,"outputs":1,"entityId":"binary_sensor.front_motion_2","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":340,"y":960,"wires":[["55558abbccb17dba","4ff204f2edfc3521"]]},{"id":"55558abbccb17dba","type":"api-call-service","z":"032c3f923b1eec4f","name":"Family room announcement ","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\":\"media_player.family_room\",\"message\":\"There is motion at front\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":960,"wires":[["75678327732f6589"]]},{"id":"87e657cefefe81fb","type":"api-call-service","z":"032c3f923b1eec4f","name":"Google Home mini announcement ","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"tts","service":"speak","areaId":[],"deviceId":[],"entityId":["tts.google_en_com"],"data":"{\"media_player_entity_id\":\"media_player.cams_speaker\",\"message\":\"There is motion at front\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":1000,"wires":[["1e3e04ac55aedfe2"]]},{"id":"4ff204f2edfc3521","type":"api-call-service","z":"032c3f923b1eec4f","name":"60% volume","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"volume_level\": \"0.6\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":1000,"wires":[["87e657cefefe81fb"]]},{"id":"1e3e04ac55aedfe2","type":"api-call-service","z":"032c3f923b1eec4f","name":"20% volume","server":"1b0f71ea.e0ea9e","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":["ef359ef7eb606110b942c714822833b9"],"entityId":[],"data":"{\"volume_level\": \"0.2\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":1040,"wires":[[]]},{"id":"75678327732f6589","type":"api-current-state","z":"032c3f923b1eec4f","name":"If switch is on","server":"1b0f71ea.e0ea9e","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.waiting_for_someone","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":900,"wires":[["7ef0a4cbb6a9e6c6"],[]]},{"id":"d431620fe2b3032a","type":"comment","z":"032c3f923b1eec4f","name":"Buttons to start spotify playback on surround sound and google home mini","info":"","x":280,"y":200,"wires":[]},{"id":"75ab93e7eb9cf740","type":"comment","z":"032c3f923b1eec4f","name":"Battery warning for Cam's xps13","info":"","x":150,"y":440,"wires":[]},{"id":"eecbe2b89565f8b0","type":"comment","z":"032c3f923b1eec4f","name":"S23 buttons linked with tasker","info":"","x":140,"y":600,"wires":[]},{"id":"0a56c837c7e121a2","type":"comment","z":"032c3f923b1eec4f","name":"Waiting for someone to turn up","info":"","x":150,"y":900,"wires":[]},{"id":"1b0f71ea.e0ea9e","type":"server","name":"Home Assistant","addon":true},{"id":"1fbdbbcedd6fd0b1","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"S23 Button","version":"6","entityType":"button","haConfig":[{"property":"name","value":"S23 Button"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"12954c08de002857","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"S23 Volume up","version":"6","entityType":"button","haConfig":[{"property":"name","value":"S23 Volume up"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"921d1082c884d2c2","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"S23 Volume down","version":"6","entityType":"button","haConfig":[{"property":"name","value":"S23 Volume down"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"99685320c0312532","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Spotify surround sound","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Spotify surround sound"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e9e59c698bbc9e53","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Spotify google speaker","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Spotify google speaker"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"27fcdc20e03865e5","type":"ha-entity-config","server":"1b0f71ea.e0ea9e","deviceConfig":"","name":"Waiting for someone","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Waiting for someone"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false}]